{% extends "main/base.html" %}


{% block content %}
{% load static %}
    <main class="container">
        {% for user in users %}
            <div class="content_block user_block content_block--flex">
                <a class="avatar" href="{% url 'users:user_detail' user.id %}">
                    <img class="avatar_img" src="{{user.photo.url}}">
                </a>
                <div>
                    <h2><a href="{% url 'users:user_detail' user.id %}">{{user.username}}</a> </h2>

                    {% if user.hobby %}
                        <p>Хобби: {{user.hobby}}</p>
                    {% endif %}

                    {% if user.company %}
                        <p>Место работы: {{user.company}}</p>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </main>


{% endblock content %}